<<<<<<< HEAD
h3{
	text-align: center;
}
p{
	text-align: center;
}
.Mision{
	margin: auto;
}
.Vision{
	margin: auto;
}
=======
/* Inserta tu codigo aqui */
>>>>>>> bb5ab701cc229955ad8dc8fd9253d11d84d2a9f0