/**{
	outline:1px solid rgba(255,0,0,0.3);
}*/
.lista{list-style-type: none;}/*--->Para todas las listas sin estilo*/
.texto{color:gray;} 
img{width: 40%;}


 /*"fixed"aunque se desplace el documento con las barras de desplazamiento del navegador, siempre aparecerá en la misma posición.*/
.head{background-color:white; 
	position: fixed; 
	top:0px; 
	margin:0px;}
.head img{width: 50%; 
	margin-top: 10px; 
	margin-bottom: 20px; 
	float: right;}
.head div nav ul li{
	display: inline-block; 
	padding:1px 30px 1px 30px; 
	border-right: 2px solid black;
}
.head div nav ul li:last-child{
	border-right: none;
}
.head div nav ul{
	padding-top: 50px; 
	padding-bottom: 80px;
}

.portada{
	margin:0px;
}
.portada div:first-child{
	
	 height: 600px; 
	 background-image: url('../img/semilla.jpg');
	 background-size: cover; }
.portada p{width: 70%; 
	margin: auto;
	 padding-top: 50px;
	 padding-bottom: 50px; 
	 font-size: 12px;
	}




